<#@ template language="C#" 
	inherits="GoogleTestCodeTemplate" 
#>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

TEST_F(<#= GetTestClassName(this.TargetFunction) #>, <#= GetTestCaseName(TestCase, TargetFunction) #>)
{
<#	if (null != TargetFunction.Arguments) {	#>
	//Declare argument for target
<#		foreach (var argument in TargetFunction.Arguments) {	#>
<#= CreateCodeToDeclareArgumentPart(argument) #>
<#		}	#>
<#	}	#>

	//Setup test parameters.
<# foreach (var input in TestCase.Inputs) {	#>
	<#= SetInputValuesPart(input) #>;
<#	}	#>

	<#=	CreateTargetFunctionCall(TargetFunction)	#>;

	//Check the test result by comparing the output with the expected value.
<# foreach (var expect in TestCase.Expects) {	#>
	ASSERT_EQ(<#= expect.Value #>, <#= expect.Name #>);
<#	}	#>
}
