<#@ template language="C#" 
	inherits="FunctionReturnValueBufferTemplate" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
extern <#= DataTypeFormat("long") #> <#= Rule.GetCalledCounter(Target) #>;
extern <#= DataTypeFormat(Target.ActualDataType()) #> <#= Rule.GetReturnValue(Target) #>[];
