<#@ template language="C#" 
	inherits="TestDoubleSourceImplementCommonBasePartTemplate" 
#>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
// Test double buffers.
<#= CalledCountDeclare() #>
<#= TestDoubleReturnValueDeclare() #>

// Argument buffers.
<#= ArgumentBufferDeclare() #>
